GOOGLE_SHEET_ID=your_google_spreadsheet_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account-name@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nreplace_with_your_key\\n-----END PRIVATE KEY-----\\n"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_browser_api_key
